.content {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home {
  display: flex;
  flex-direction: row;
  gap: calc(20px + 1.5625vw);
}
.home_txt {
  display: flex;
  flex-direction: column;
}
.home_logo {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
}
.title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3em;
  font-size: calc(14px + 0.390625vw);
  color: #689689;
}
.text {
  color: #ffffff;
  font-size: calc(18px + 0.390625vw);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.13em;
  font-weight: 100;
  margin-top: 2em;
}
.textpad {
  margin-bottom: calc(10px + 1.5625vw);
  margin-top: calc(10px + 1.5625vw);
}
p {
  line-height: 1.4em;
}
