* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  margin-right: 6%;
  margin-top: 5rem;
}
