---
// Component Imports
import Layout from "../layouts/default.astro";
import Footer from "../components/Footer.jsx";
import "../styles/activite.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <main class="content">
    <h1 class="title_activite">les activités</h1>
    <p class="txt_activite">
      Retrouvez ici toutes les activités que nous vous proposons au sein de
      l’Etoile Goussainvilloise. Les inscriptions ont lieu au début de la saison
      sportive, c’est à dire au moment de la rentrée scolaire. Nous sommes
      présents tous les ans lors du forum des associations organisé par la ville
      de Goussainville, n’hésitez pas à venir nous voir pour tout
      renseignements.
    </p>
    <div class="wrapped">
      <div class="hero">
        <div class="card1">
          <img class="img_first" src="assets/Carte.png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Gymnastique artistique féminine</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
        <div class="card1">
          <img class="img_first" src="assets/Carte(2).png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Team gym</h2>
            <p class="txt_fondu">
              La TeamGym se pratique en équipe masculine, féminine ou mixte de 6
              à 12 gymnastes sur 3 agrès : le sol, le tumbling et le
              mini-trampoline. Elle permet aux gymnastes de développer esprit
              d'équipe, polyvalence, sens de l'acrobatie et synchronisation.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapped">
      <div class="hero">
        <div class="card2">
          <img class="img_first" src="assets/Carte(3).png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Baby gym</h2>
            <p class="txt_fondu">
              La Baby Gym est une activitée ludique qui contribue au
              développement général de l’enfant sur le plan moteur, affectif et
              cognitif.
            </p>
          </div>
        </div>
        <div class="card2">
          <img class="img_first" src="assets/Carte(4).png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Fitness</h2>
            <p class="txt_fondu">
              Renforcement musculaire avec des ateliers ou des circuits, venez
              vous muscler de différentes façons, pour se maintenir en pleine
              forme
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
