---
// Component Imports
import Layout from "../layouts/default.astro";
import Footer from "../components/Footer.jsx";
import "../styles/activite.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <main class="content">
    <h1 class="title_activite">les activités</h1>
    <p class="txt_activite">
      Retrouvez ici toutes les activités que nous vous proposons au sein de
      l’Etoile Goussainvilloise. Les inscriptions ont lieu au début de la saison
      sportive, c’est à dire au moment de la rentrée scolaire. Nous sommes
      présents tous les ans lors du forum des associations organisé par la ville
      de Goussainville, n’hésitez pas à venir nous voir pour tout
      renseignements.
    </p>
    <div class="wrapped">
      <div class="hero">
        <div class="card1">
          <img class="img_first" src="assets/Carte.png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Gymnastique artistique féminine</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
        <div class="card1">
          <img class="img_first" src="assets/Carte.png" />
          <div class="card_fondu">
            <h2 class="title_fondu">Gymnastique artistique féminine</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapped">
      <div class="hero">
        <div class="card2">
          <div class="card_fondu">
            <h2 class="title_fondu">Titre</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
        <div class="card2">
          <div class="card_fondu">
            <h2 class="title_fondu">Titre</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
        <div class="card2">
          <div class="card_fondu">
            <h2 class="title_fondu">Titre</h2>
            <p class="txt_fondu">
              Permet de développer force, souplesse, grâce, ainsi qu’une très
              bonne coordination des mouvements. La GAF se pratique sur 4 agrès
              : le saut, les barres asymétriques, la poutre et le sol.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
