---
// Component Imports
import Bouton from "../components/Bouton";
import Layout from "../layouts/default.astro";
import "../styles/index.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div class="home">Page not found, under developpement</div>
</Layout>
