---
// Component Imports
import Maap from "../components/Maap.astro";
import Layout from "../layouts/default.astro";
import "../styles/leclub.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div class="home">Page not found, under developpement</div>
  <Maap />
</Layout>
