---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
import "../styles/Nav.css";
---

<header class="header">
  <nav>
    <ul class="mobile_nav">
      <li class="mobile_nav_li">
        <a class="navlink" href="/">Accueil</a>
      </li>
      <li class="mobile_nav_li">
        <a class="navlink" href="/leclub">Le Club</a>
      </li>
      <li>
        <a class="navlink" href="/activite">Activité</a>
      </li>
      <li>
        <a class="navlink" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
